@keyframes moving {
  0% {
    inset-inline-start: -20px;
  }

  100% {
    inset-inline-start: -16px;
  }
}

@keyframes core-coloring {
  100% {
    fill: var(--core-active-clr);
  }
}

@keyframes main-body-coloring {
  100% {
    fill: var(--main-body-active-clr);
  }
}

@keyframes contour-coloring {
  100% {
    fill: var(--contour-active-clr);
  }
}

@keyframes icon-scaling {
  100% {
    transform: scale(1.5);
    transform-origin: center;
  }
}

@keyframes sparks-coloring {
  100% {
    fill: var(--sparks-fill-clr);
  }
}

.like-icon .core {
	fill: transparent;
	transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
	fill: var(--core-clr);
	transition: fill 0.3s linear;
}

.like-icon .main-body {
	fill: transparent;
	transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
	fill: var(--main-body-clr);
	transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
	fill: var(--sparks-fill-clr);
	transition: fill 0.3s linear;
}

.like-icon:active .main-body {
	fill: var(--main-body-active-clr);
	transition: fill 0.3s linear 0.05s;
}

.like-icon .contour {
	fill: var(--contour-clr);
	transition: fill 0.1s linear;
}

.like-icon.is-liked {
  animation: icon-scaling 0.3s 0.1s alternate;

  .core {
    animation: core-coloring 0.3s alternate;
    animation-fill-mode: forwards;
  }

  .main-body {
    animation: main-body-coloring 0.3s 0.05s alternate;
    animation-fill-mode: forwards;
  }

  .contour {
    animation: contour-coloring 0.3s 0.06s alternate;
    animation-fill-mode: forwards;
  }

  .sparks {
    animation: sparks-coloring 0.3s 0.3s alternate;
  }
}
